#> Game itself
/oneshot

#> Linter output
oclint/

#> Valve Steamworks SDK (Cannot be redistributed)
steamworks/

#> Build Scripts??
!build-entrypoint-linux.sh
!build-entrypoint-windows.bat

#> Build Artifacts
out/
/fmod/
.qmake.stash
CMakeCache.txt
CMakeFiles/
cmake_install\.cmake
package/
__pycache__
/build*
/m32build
/dist
/debug
/release
steamshim_parent/build/
*.out
bin/
lib/
*.dir/
x64/
*.o
*.pro.*
*.bak
*.xxd
*.exe
*.app
*.bmp
*.lproj
*.tmp
*.vcxproj
*.filters
*.sln
*.user
*.tlog
/steamshim_parent/steamshim
object_script.*
rpgscript.bat
rpgscript - mklang.bat
*.pot
xScripts.rxdata

#> GNU Debugger Output Files
.gdb_history